body {
    background-color: #f5f5dc; /* Cream background */
    color: #000080; /* Dark Blue text */
    font-family: Arial, sans-serif; /* Easy to read font */
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh; /* Ensures the footer is at the bottom */
}

header, footer {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2em;
}

p {
    font-size: 1.5em;
}

.mandela-effect-link {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #d18802; /* Orange background color */
    color: #f5f5dc; 
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.mandela-effect-link:hover {
    background-color: #7b5001; /* Darker orange on hover */
}

.start-quiz-button {
    display: block;
    width: 200px; /* Set the width of the button */
    margin: 0 auto; /* Center the button horizontally */
    padding: 10px 20px;
    background-color: #000080; 
    color: #f5f5dc; 
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-align: center; /* Center the text horizontally */
}

.start-quiz-button:hover {
    background-color: #010156; /* Darker blue on hover */
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
}

/* Style for the copyright text */
.copyright {
    font-size: 0.8em; /* Smaller font size */
}
